
<div class="cards">
  <% @friends.each do |friend| %>
  <%= link_to friend_path(friend) do %>
  <div class="card-trip">
    <%= cl_image_tag friend.photo.key if friend.photo.attached? %>
    <div class="card-trip-infos">
      <div>
        <h2><%= friend.name %></h2>
        <p> <%= friend.age %> years old, <%= friend.city %></p>
      </div>
      <h2<%= friend.price %>/h2>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
