
<div class="cards">
  <% @friends.each do |friend| %>
  <%= link_to friend_path(friend) do %>
  <div class="card-trip">
    <%= cl_image_tag friend.photo.key %>
    <div class="card-trip-infos">
      <div>
        <h2><%= friend.name %></h2>
        <p>xx years old, <%= friend.city %></p>
      </div>
      <h2<%= friend.price %>/h2>
    </div>
  </div>
  <% end %>
  <% end %>
</div>

<div
  class="my-5"
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
