<div class="d-flex justify-content-center">
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="info-tab" data-toggle="pill" href="#info" role="tab" aria-controls="info" aria-selected="true">My info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pimp-tab" data-toggle="pill" href="#pimp" role="tab" aria-controls="pimp" aria-selected="false">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="renter-tab" data-toggle="pill" href="#renter" role="tab" aria-controls="renter" aria-selected="false">Bookings</a>
  </li>
</ul>
</div>
<div class="tab-content" id="pills-tabContent">

  <!-- Tab d'infos de profil -->
  <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
    <div class="d-flex flex-column align-items-center mt-2">
      <div class="card mt-3" style="width: 25rem;">
        <div class="card-body">
          <center><%= cl_image_tag current_user.photo.key, height: 120, width: 120, crop: :fill, radius: 40%></center>
          <br>
          <p><strong>First Name: </strong><%= current_user.first_name %></p>
          <p><strong>Last Name: </strong><%= current_user.last_name %></p>
          <p><strong>Address: </strong><%= current_user.address %></p>
          <p><strong>Email: </strong><%= current_user.email %></p>
          <p><strong>Password: </strong> •••••••••</p>
          <div class="text-right"><a href="#" class="card-link">Edit profile</a></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tab de dashboard de pimp -->
  <div class="tab-pane fade" id="pimp" role="tabpanel" aria-labelledby="pimp-tab">
    <div class=" mt-2 p-4">

      <!-- Friend portfolio -->
      <h3>My friends portfolio</h3>
      <div class="border border-dark p-4 w-100 border-bottom-0 border-left-0 border-right-0">
        <br>
        <div class="cards-small">
          <% current_user.friends.each do |friend| %>
          <div class="card-wrapper">
            <%= link_to friend_path(friend) do %>
              <div class="card-trip card-small">
                <%= cl_image_tag friend.photo.key, gravity: :face if friend.photo.attached? %>
                <div class="card-trip-infos">
                  <div>
                    <h2><%= friend.name %></h2>
                  </div>
                  <p><%= friend.price.round %> € / day</p>
                </div>
              </div>
            <% end %>
            <div class="card-tools">
              <%= link_to 'Edit', edit_friend_path(friend), class: "btn btn-light card-delete" %>
              <%=link_to "Delete", friend_path(friend), class: "btn btn-light card-delete", method: :delete, data: {confirm: "Are you sure you want to delete #{friend.name}?"} %>
            </div>
          </div>
          <% end %>
        </div>
        <div class="mt-3">
          <% if policy(Friend).create? %>
            <%= link_to 'New friend', new_friend_path, class: "btn btn-secondary text-white mb-2" %>
          <% end %>
        </div>
      </div>
      <br>

    <!-- Bookings dashboard -->
    <h3>My bookings dashboard</h3>
      <div class="border border-dark p-4 w-100 border-bottom-0 border-left-0 border-right-0">
       <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Status</th>
            <th scope="col">Friend</th>
            <th scope="col">Booked by</th>
            <th scope="col">Booking period</th>
            <th scope="col">Total price</th>
          </tr>
        </thead>
        <tbody>
          <% i = 1 %>
          <% sum = 0 %>
          <% current_user.friends.each do |friend| %>
            <% friend.bookings.each do |booking| %>
              <tr>
                <th scope="row"><%= i %></th>
                <td>
                  <% if booking.passed? %>
                    <span class="badge badge-secondary">Passed</span>
                  <% else %>
                    <span class="badge badge-primary">Future</span>
                  <% end %>
                </td>
                <td><%= friend.name %></td>
                <td><%= booking.user.first_name %> <%= booking.user.last_name %></td>
                <td><%= booking.display_start_date %> - <%= booking.display_end_date %></td>
                <td><%= (booking.length_in_days*friend.price).round %> €</td>
              </tr>
              <% i+= 1 %>
              <% sum+= (booking.length_in_days*friend.price).round %>
            <% end %>
          <% end %>
          <tr>
                <th scope="row">Total</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong><%= sum %> €</strong></td>
              </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
  <!-- Tab de dashboard de renter -->
  <div class="tab-pane fade" id="renter" role="tabpanel" aria-labelledby="renter-tab">

<h3>My past bookings</h3>
      <div class="border border-dark p-4 w-100 border-bottom-0 border-left-0 border-right-0">
        <br>
        <div class="cards-small">
          <% current_user.friends.each do |friend| %>
          <div class="card-wrapper">
            <%= link_to friend_path(friend) do %>
              <div class="card-trip card-small">
                <%= cl_image_tag friend.photo.key, gravity: :face if friend.photo.attached? %>
                <div class="card-trip-infos">
                  <div>
                    <h2><%= friend.name %></h2>
                  </div>
                  <p><%= friend.price.round %> € / day</p>
                </div>
              </div>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
      <br>

    <!-- My next bookings -->
<h3>My next bookings</h3>
      <div class="border border-dark p-4 w-100 border-bottom-0 border-left-0 border-right-0">
        <br>
        <div class="cards-small">
          <% current_user.friends.each do |friend| %>
          <div class="card-wrapper">
            <%= link_to friend_path(friend) do %>
              <div class="card-trip card-small">
                <%= cl_image_tag friend.photo.key, gravity: :face if friend.photo.attached? %>
                <div class="card-trip-infos">
                  <div>
                    <h2><%= friend.name %></h2>
                  </div>
                  <p><%= friend.price.round %> € / day</p>
                </div>
              </div>
            <% end %>
            <div class="card-tools">
              <a href="www.google.com"><div class="btn btn-light card-delete">Edit</div></a>
              <a href="www.google.com"><div class="btn btn-light card-delete">Delete</div></a>
            </div>
          </div>
          <% end %>
        </div>
        <div class="mt-3">
          <% if policy(Friend).create? %>
            <%= link_to 'New friend', new_friend_path, class: "btn btn-secondary text-white mb-2" %>
          <% end %>
        </div>
      </div>
      <br>






  </div>
</div>
