<%# current_user = User.find_by(email: "pierre@friendy.com") %>

<div class="container mt-2">
  <h1 class="mb-3">Hello <%= current_user.first_name %></h1>
  <% unless current_user.bookings.empty? %>
    <h3 class="m-3 pt-2">Your Bookings</h3>
    <div class="cards">
      <% current_user.bookings.each do |booking|%>
        <%= link_to friend_path(booking.friend) do %>
          <div class="card-trip">
            <%= cl_image_tag booking.friend.photo.key, width: 400, height: 300, crop: :fill, gravity: :face %>
            <div class="card-trip-infos">
              <div>
                <h2><%= booking.friend.name %></h2>
                <h6>booked from <%= booking.display_start_date %> to <%= booking.display_end_date %></h6>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="container mt-5">
<%# unless current_user.friends.empty? %>
  <div class="container d-flex flex-row justify-content-between">
    <div>
      <h3 class="mb-3">Your Portfolio</h3>
    </div>
    <div>
      <% if policy(Friend).create? %>
        <%= link_to 'New friend', new_friend_path, class: "btn btn-secondary text-white mb-2" %>
      <% end %>
    </div>
  </div>
  <div class="cards mb-5">
    <% current_user.friends.each do |friend|%>
      <%= link_to friend_path(friend) do %>
        <div class="card-trip">
          <%= cl_image_tag friend.photo.key, width: 400, height: 300, crop: :fill, gravity: :face %>
          <div class="card-trip-infos">
            <div>
              <h2><%= friend.name %></h2>
              <p><%= friend.age %> years old, <%= friend.address %></p>
            </div>
            <h2<%= friend.price %>/h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
<%# end %>
